doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/bootstrap.min.css")
        script(src="/bootstrap.min.js" defer) 
    body 
        .container 
            h1(class="mb-4") Blog Article 
            a(href="/articles/new" class='btn btn-success') New Article 
            each article in articles
                div(class='card mt-4')
                    .card-body 
                        h4 #{article.title}
                        .card-subtitle.text-muted.mb-2 
                            |#{article.createAt.toLocaleString()}
                        .card-text.mb-2     
                            |#{article.description}
                        a(href=`/articles/${article.slug}` class='btn btn-primary') Read More 
                        form(action=`/articles/${article.id}?_method=delete` method='POST' class='d-inline') 
                            button(type="submit" class='btn btn-danger') DELETE


